In [8]:
import numpy as np
country = np.array(['Great Britain','China','Russia','United States','Korea','Japan','Germany'])
gold = np.array([29,38,24,46,13,7,11])
silver = np.array([17,28,25,28,8,14,11])
bronze =  np.array([19,22,32,29,7,17,14])

Find and print the name of the country with the highest Gold medal 
Find and print the name of the country with the less gold medals 
find out the country name which have less than 20 gold medal.
Print out the entire list of the countries with their gold medal and total medals.

In [21]:
max_gold_m = gold.argmax()
max_gold_country = country[max_gold_m]
max_gold_country

'United States'

In [24]:
#another method 
max_g = country.item(gold.argmax())
max_g

'United States'

In [25]:
min_gold_m = gold.argmin()
min_gold_country = country[min_gold_m]
min_gold_country

'Japan'

In [27]:
less_than_20_gold = gold<20
less_than_20_gold
less_than_20_gold_country = country[less_than_20_gold]
less_than_20_gold_country

array(['Korea', 'Japan', 'Germany'], dtype='<U13')

In [40]:
for i in range(len(country)):
    total_gold = gold[i]
    all_country = country[i]
    total_medals = gold[i]+silver[i]+bronze[i]
    print('Country Name :- {},  total Gold medal:- {} and total metals:- {}'.format(all_country ,total_gold, total_medals))

Country Name :- Great Britain,  total Gold medal:- 29 and total metals:- 65
Country Name :- China,  total Gold medal:- 38 and total metals:- 88
Country Name :- Russia,  total Gold medal:- 24 and total metals:- 81
Country Name :- United States,  total Gold medal:- 46 and total metals:- 103
Country Name :- Korea,  total Gold medal:- 13 and total metals:- 28
Country Name :- Japan,  total Gold medal:- 7 and total metals:- 38
Country Name :- Germany,  total Gold medal:- 11 and total metals:- 36